<settings>
  <servers>
    <server>
      <id>github-packages-releases</id> <!-- Ensure this ID matches the one used in your `pom.xml` -->
      <username>lithesheeli</username> <!-- Username can be any placeholder, the token is used for auth -->
      <password>${{ secrets.TOKEN }}</password> <!-- Environment variable for security -->
    </server>
  </servers>
  <profiles>
    <profile>
      <id>github-packages</id>
      <repositories>
        <repository>
          <id>github-packages-releases</id> <!-- Ensure this ID matches the one used in `settings.xml` -->
<!--           <url>https://maven.pkg.github.com/lithesheeli/gitops</url> <!-- Repository URL --> -->
          <url>https://github.com/lithesheeli/gitops</url> <!-- Repository URL -->
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>github-packages</activeProfile>
  </activeProfiles>
</settings>
